.create-benefits{
    margin-bottom: 168px;
}
.create-benefits__content-wrapper{
    background-color: #2C343E;
    color: $white;
    border-radius: $big-radius;
    padding: 198px 0 99px 85px;
}
.create-benefits__list{
    @include list-style;
    display: flex;
    position: relative;
    &::before{
        content: '';
        display: block;
        width: 760px;
        height: 1px;
        background-color: $gold;
        position: absolute;
        top: -75px;
        left: 18px;
    }
}
.create-benefits__item{
    max-width: 285px;
    margin-right: 95px;
    position: relative;
    &:nth-child(3n),
    :last-child{
        margin-right: 0;
    }
    &::before{
        content: '';
        display: block;
        width: 31px;
        height: 31px;
        background-image: url(../../img/create-benefits_oval.svg);
        position: absolute;
        top: -90px;
        left: 0
    }
}
.create-benefits__item-number{
    @include text-style;
    font-size: 72px;
    line-height: 72px;
    margin: 0;
    color: $gold;
}
.create-benefits__item-title{
    @include text-style;
    margin: 0;
    margin-top: 38px;
    margin-bottom: 42px;
    font-size: 35px;
    line-height: 36px;
}
.create-benefits__item-description{
    margin: 0;
}
@media only screen and (max-width:$tablet){
    .container{
        max-width: 689px;
    }
    .create-benefits{
        margin-bottom: 144px;
        background-color: #2C343E;
        border-radius: $big-radius;
        padding-top: 176px;
        padding-bottom: 97px;
    }
    .create-benefits__content-wrapper{
        padding: 0;
        background-color: none;
    }
    .create-benefits__list{
        &::before{
            width: 467px;
            height: 2px;
        }
    }
    .create-benefits__item{
        max-width: 223px;
        margin-right: 10px;
    }
    .create-benefits__item-title{
        margin-top: 42px;
        margin-bottom: 38px;
        font-size: 28px;
        line-height: 32px;
    }
    .create-benefits__item-description{
        font-size: 15px;
        line-height: 25px;
    }
}
@media only screen and (max-width:$mobile){
    .container{
        max-width: 327px;
    }
    .create-benefits{
        margin-bottom: 120px;
        padding: 80px 24px 79px;
    }
    .create-benefits__list{
        flex-direction: column;
        &::before{
            display: none;
        }
    }
    .create-benefits__item{
        max-width: 327px;
        margin: 0;
        margin-bottom: 56px;
        text-align: center;
        align-items: center;
        &:last-child{
            margin-bottom: 0
        };
        &::before{
            display: none;
        }

    }
}