.site-link{
    color: $white;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    padding: 15px 31px 16px 31px ;
    background-color: $green;
    border-radius: 6px;
    text-decoration: none;
    &:hover{
        background-color: #66D2CF;
    }
}